/*estilos generales */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --green-ligth: #3bd9be;
    --green-dark: #0da98c;
    --brown: #5c4545;
    --white: #ffffff;
}

body {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins';
}

 /* pattern */

.pattern {
max-height: 70%;
max-width: 100%;
position: absolute; top: -145px; bottom: 250px;
opacity: 0.3;
transform: rotate(110deg);

}

/* encabezado - logo*/

.logo {
    display: flex;
    justify-content: center;
}

.logo #image {
    width: 25%;
    margin-bottom: 1rem;
    position: relative; top: 90px;

}

blockquote {
    display: flex;
    justify-content: center;
    color: var(--brown);
    background:rgb(255, 251, 251);
    width: 28%;
    position: relative; left: 1050px;
}

blockquote p{
    font-size: 17px;
}

blockquote p cite {
    font-size: 15px;
    display: block;
    margin-top: 0.4rem;
    text-align: center;
}


/* nav-bar */

.menu-section .list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: var(--green-ligth);
    padding: 0.5rem;
    margin: 3rem 0 3rem 0;
}

.menu-section .list li:hover {
    font-weight: 700;
    cursor: pointer;
}


/* body - seccion inicio*/

.inicio-section {
    justify-content: space-between;
    margin-top: 2rem;
}

.inicio-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio-section .title {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
}

.ventajas {
    display: flex;
    justify-content: space-evenly;
}

.ventajas img {
    width: 95%;
    height: 95%;
}


.listas li {
    font-size: 1.3rem;
    list-style: none;
    align-items: center;
}

/* icons - listas*/
#icons {
    font-size: 40px;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#icons p {
    font-size: 1.1rem;
}

.icons-div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* cards - seccion servicios*/
#servicios-section {
    font-family: 'Poppins';
    background-color: #51f8dc;
    height: 100vh;
}

#servicios-section h1 {
    display: flex;
    justify-content: center;
    color: var(--brown);
}

.cards-section {
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
    margin-top: 2rem;
}

.card {
    width: 20%;
    border: 0.3px gray solid;
    box-shadow: 5px 5px 2px 2px rgba(0,0,0,0.3);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.card img {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 75%;
}

.card h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.card p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.card button {
    background-color: var(--green-ligth);
    padding: 0.5rem;
    border-radius: 0.8rem;
    border: none;
    font-weight: 600;
}

.card button:hover {
    background-color: var(--green-dark);
    cursor: pointer;
}


/* carrito de compras */
.btnVaciarCarrito {
    padding: 0.6rem;
    width: 10%;
    border-radius: 20%;
    background-color: var(--green-dark);
    color: var(--white);
    border: none;
    font-size: 1rem;
}


/* footer - seccion inicio */
.section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brown);
    padding: 1rem;
    margin-top: 4rem;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-footer .redes {
    color: var(--white);
}

.icons {
    display: flex;
    font-size: 2rem;
    justify-content: space-evenly;
    color: var(--white);
    width: 25%;
}

.copyright {
    color: var(--white);
}

.final-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.final-footer #logo {
    width: 20%;
}

